@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

a:hover {
  text-decoration: none;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
}

.btn {
  background-color: #2C6E49;
  color: white;
  border-radius: 23px;
  font-size: 12.5px;
  padding: 12px 35px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 2px 3px #888888;
          box-shadow: 0px 2px 3px #888888;
}

.counter input[type=number]::-webkit-outer-spin-button,
.counter input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.counter input[type=number] {
  -moz-appearance: textfield;
}

.counter-btn {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

#home .main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
}

#home .main .row .img-col {
  text-align: right;
}

#home .main .row .img-col img {
  width: 90%;
  text-align: right;
}

#home .main .row .text-col h1 {
  font-size: 2.8em;
  font-weight: 1000;
}

#home .articles {
  padding: 5rem 0 4.5rem;
  background-color: #D5F7E6;
}

#home .articles .title {
  font-size: 1.7rem;
  font-weight: 700;
  text-align: center;
}

#home .articles .col-md-4 {
  margin-top: 2rem;
  padding: 0 4%;
}

#home .articles .col-md-4 .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .articles .col-md-4 .header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 5rem;
  height: 4.5rem;
  border-radius: 20px;
  margin-right: 20px;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  background-color: #44B47E;
}

#home .articles .col-md-4 .header .icon-2 {
  background-color: #FA9E42;
  font-size: 3rem;
}

#home .articles .col-md-4 .header .icon-3 {
  background-color: #F7D061;
  font-size: 3rem;
}

#home .articles .col-md-4 p {
  margin-top: 1rem;
  font-size: 13px;
  word-spacing: 2px;
  text-align: justify;
}

#home .ai {
  padding: 3rem 0;
}

#home .ai .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .ai .row .col-md-6 h1 {
  font-weight: 700;
}

#home .ai .row .col-md-6 img {
  width: 100%;
}

#home .read-more {
  padding: 2rem 0;
}

#home .read-more h3 {
  font-weight: 700;
}

#home .read-more .title {
  text-align: center;
}

#home .read-more .row {
  margin-top: 4rem;
}

#home .read-more .row span {
  color: #2C6E49;
}

#home .read-more .best-foods img {
  width: 100%;
  max-height: 17rem;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

#home .read-more .best-foods p {
  font-size: 13px;
  line-height: 25px;
}

#home .read-more .right-articles {
  padding: 0 5%;
}

#home .read-more .right-articles .single-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

#home .read-more .right-articles .single-article img {
  width: 10rem;
  margin-right: 20px;
}

#home .read-more .right-articles .single-article .article-title {
  font-size: 1.5rem;
  line-height: 25px;
}

#home a {
  color: inherit;
}

#test .main {
  padding-top: 2.2rem;
  padding-bottom: 3rem;
}

#test .main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#test .main .row h1 {
  font-size: 2.8em;
  font-weight: 1000;
}

#test .main .row img {
  width: 100%;
}

#take-test .main {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

#take-test .main .header {
  font-size: 2.7em;
  font-weight: 800;
  text-align: center;
  margin-bottom: 3rem;
}

#test-result .main {
  padding-top: 2.2rem;
  padding-bottom: 3rem;
}

#test-result .main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#test-result .main .row h1 {
  font-size: 2.2em;
  font-weight: 800;
}

#test-result .main .row h2 {
  font-size: 2.2em;
  font-weight: 800;
  color: green;
}

#test-result .main .row p {
  font-weight: 600;
}

#test-result .main .row img {
  width: 100%;
}

.articles .main {
  padding: 5rem 0;
}

.articles .main h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.articles .main h6 {
  font-size: 18px;
  font-weight: 700;
}

.articles .main p, .articles .main li {
  color: #525252;
}

.articles .main .banner {
  width: 100%;
  margin: 2rem 0;
}

.articles .main img {
  width: 100%;
}

.articles .main h4 {
  margin: 2rem 0 2rem 0;
  font-weight: 600;
}

.articles .main .img-right img {
  width: 90%;
  margin-left: 10%;
}

.articles .main .img-left img {
  width: 90%;
}

.articles .main .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articles .main li {
  list-style: none;
  margin-top: 5px;
}

.articles .main li::before {
  content: "— ";
}

.articles .main .col-md-4 img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  #articles .img-right img, #articles .img-left img {
    margin-left: 5% !important;
  }
  #articles .col-md-4 img {
    margin-top: 10px !important;
  }
}

#age .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#age .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#age .row .col-md-6 h2 {
  font-weight: 1000;
  margin-top: 3rem;
}

#age .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#age .row .col-md-6 .counter input {
  font-size: 30px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-width: 0px;
}

#age .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#age .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#age .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#age .row img {
  width: 100%;
}

#weight .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weight .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#weight .row .col-md-6 h2 {
  font-weight: 1000;
  margin-top: 3rem;
}

#weight .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weight .row .col-md-6 .counter input {
  font-size: 30px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-width: 0px;
}

#weight .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#weight .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#weight .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#bmi .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bmi .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#bmi .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bmi .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#bmi .row .col-md-6 h3 {
  margin-top: 3rem;
  font-size: 30px;
  line-height: 50px;
}

#bmi .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#bmi .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#bmi .row img {
  width: 100%;
}

#glucose .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#glucose .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#glucose .row .col-md-6 h2 {
  font-weight: 1000;
  margin-top: 3rem;
}

#glucose .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#glucose .row .col-md-6 .counter input {
  font-size: 30px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-width: 0px;
}

#glucose .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#glucose .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#glucose .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#glucose .row img {
  width: 100%;
}

#insulin .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#insulin .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#insulin .row .col-md-6 h2 {
  font-weight: 1000;
  margin-top: 3rem;
}

#insulin .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#insulin .row .col-md-6 .counter input {
  font-size: 30px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-width: 0px;
}

#insulin .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#insulin .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#insulin .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#insulin .row img {
  width: 100%;
}

#blood .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#blood .row .col-md-6 .q-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 70px;
  background-color: #92E3A9;
  border-radius: 50%;
  font-size: 2.5em;
  font-weight: 1000;
  color: white;
}

#blood .row .col-md-6 h2 {
  font-weight: 1000;
  margin-top: 3rem;
}

#blood .row .col-md-6 .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 20px;
  padding: 0 25px;
  margin-top: 1rem;
  background-color: #D5F7E6;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blood .row .col-md-6 .counter input {
  font-size: 30px;
  font-weight: 800;
  width: 150px;
  text-align: center;
  background-color: transparent;
  border: none;
  outline-width: 0px;
}

#blood .row .col-md-6 .counter .counter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  font-size: 25px;
  font-weight: 800;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blood .row .col-md-6 .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

#blood .row .col-md-6 .control .btn {
  width: 100px;
  height: 30px;
  padding: 0;
}

#blood .row img {
  width: 100%;
}

#articles-diet .main {
  padding: 5rem 0;
}

#articles-diet .main h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

#articles-diet .main .banner {
  width: 100%;
  margin: 2rem 0;
}

#articles-diet .main h5 {
  margin-top: 2rem;
  font-weight: 600;
}

#header .brand {
  color: #2C6E49;
  font-weight: 600;
}

#header li {
  font-size: 14px;
}

#header a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 991px) {
  .navbar .collapse + a {
    display: none !important;
  }
}

#footer {
  padding: 4rem 0 5rem;
  background-color: #2C6E49;
  color: white;
}

#footer h3 {
  font-weight: 700;
  margin-bottom: 2rem;
}

#footer p {
  color: #fafafa;
}

#footer a {
  display: block;
  color: white;
  margin-top: 10px;
}
/*# sourceMappingURL=app.css.map */